.navbar {
    background-color: #585fc4;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #585fc4;
}

#cabecalho .nav .nav-link,.navbar-brand{
    color: #fff;
    cursor: pointer;

}

.container .navbar-brand {
    color: #fff;
}

.card-container .card {
    min-height: 400px; 
}
footer{
    background-color: #585fc4;
}

